# Environment variables
.env

# Python virtual environment
venv/
env/
.venv/
.env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Flask session files
flask_session/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 